* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    margin: 0;
    background-color: antiquewhite;
}

header {
    background-color: #FFF8F3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 5px 10px;
    box-shadow: 0 3px 10px 0 rgba(80, 119, 242, 0.3);

}
header img{
    height: 100%;
    margin-left: 0;
    padding-left: 0;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 20px;
    padding: 0;
}

nav ul li {
    cursor: pointer;
}

nav ul li:hover {
    color: rgb(41, 249, 253);
}

.input-search,
form {
    display: flex;
    align-items: center;
    height: 50px;
    width: 400px;
    border-radius: 40px;
    overflow: hidden;
    border: 1.5px solid #8a2be2;
    
}

.input-search input {
    height: 100%;
    width: 100%;
    padding: 0px 20px;
    border: none;
    outline: none;
    font-size: 25px;
    text-transform: capitalize

}

.input-search span {
    width: 70px;
    height: 100%;
    background-color: #8a2be2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: azure;
}

.input-search span:hover {
    color: rgb(41, 249, 253);
    transition: 0.2 ease-in-out;
}

.menuBtn {
    font-size: 40px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.menuBtn:hover {
    color: white;
    background-color: rgb(83, 83, 157);
    transition: 0.2 ease-in-out;
}

.desktop {
    display: none;
}

@media all and (min-width:768px) {
    header {
        padding: 5px 30px;
    }

    .desktop {
        display: flex;
    }

    .menuBtn {
        display: none;
    }

}

/* -----mobile menu----- */
.mobile {
    position:absolute;
    top: 70px;
    width: 100%;
    max-width: 700px;
    background-color: #F7E7DC;
    height: calc(100% -150px);
    padding: 20px;
    box-shadow: none;
    z-index: 2;
    margin-left: -10px;
    margin-top: 50px;
    border-bottom: #2D4263;
    border-bottom: 2rem;
}

.mobile nav,
.mobile nav ul {
    flex-direction: column;
}

.mobile .input-search {
    height: 35px;
    width: 95%px;
}

.hidden {
    display: none;
}

@media all and (min-width:768px) {
    .mobile {
        display: none;
    }
}




main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    margin: auto;
}


.card {
    display: flex;
    flex-direction: column;
    background-color: #E9E8E8;
    max-width: 420px;
    box-shadow: 7px 7px 25px 1px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 10px;
}

.card img {
    min-height: 210px;
    max-height: 210px;
    background-color: #f4f4f4;
    width: 100%;
    overflow: hidden;
    
}

.card h4,
.card div {
    padding: 5px 10px;
    margin: 0;

}
.publishbydate{
    display: flex;
    align-items: center;
    color: #2F3A8F;
   
    
}
.publishbydate p{
    font-size: 15px;
}

.publishbydate span{
    padding: 0px 10px;
}
.description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin: 0px;
    

}
.card a{
    color: #2D4263;
    text-decoration: none;
}
.card a:hover{
    color: #7D0633;
    transition: 0.2s ease-in-out;
}
@media all and (min-width: 768px) {
    main {
        padding: 30px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }

    .card h4,
    .card div {
        padding: 5px 20px;


    }
}

.container{
    display: flex;
    justify-content: center;
    margin: 10px;
}
